bots:
  - host: irc.freenode.net
    port: 6667
    use_ssl: true
    nick: pbot
    user: pbot
    nickserv: null # password to identify to NickServ with, null otherwise
    channels: ['#superseriousstats']
    autoconnect: true

settings:
    owner: 'raylu'
    autoreload: false # automatically reload commands.py when it changes?
    weather_key: 9fe8178f6b546acb # https://www.wunderground.com/weather/api/
    youtube_key: none
    
# vim: set et ft=yaml:
