bots:
  - host: irc.freenode.net
    port: 6667
    nick: pbot
    user: pbot
    nickserv: null # password to identify to NickServ with, null otherwise
    channels: ['#superseriousstats']
    autoconnect: true

settings:
    owner: 'raylu'
    autoreload: false # automatically reload commands.py when it changes?
    eve_dsn: 'dbname=eve user=eve'

# vim: set et ft=yaml:
